<extend name="Base/common"/>
<block name="style">

</block>
<block name="body">
<header class="header">我想要它固定顶部部</header>
    <div class="main flex-body">
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
    </div> 
</block>

