<extend name="Base/common"/>
<block name="style">

</block>
<block name="body">

    
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
      <p>高度自动适应</p>
    
</block>

